@page
@model AboutMeModel
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>Hello, my name is @Model.UserName</p>
<p>There should be a page about me, but I'm having a temporary creative crisis.</p>
<p>And here is the second sentence of the description.</p>
<p>And one more sentense.</p>