@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
    <head>
        <title> My Home Page </title>
        <style>
        body {
            background-image: url('triangle-abstract-gradient-soft-gradient-wallpaper-preview.jpg');
            background-size: cover;
            background-color: #cccccc;
        }
        </style>
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome to my Home Page</h1>

            <p style="color:azure">Simple text. Just text from WEB.</p>
        <p style="color:azure">HTML is the foundation of all web pages. It defines the structure of a page, while CSS defines its style. HTML and CSS are the beginning of everything you need to know to make your first web page! Learn both and start creating amazing websites.</p>

        <table style="background-color: #76c36f">
            <tr>
            <td height="250" width="300" align="center" valign="middle" style="border: 10px solid #cccccc;">
                <a href="index.html" class="button">Simple</a>
                <style>
                    .button {
                        display: inline-block;
                        padding: 64px 64px;
                        color: white;
                        text-decoration: none;
                        border-radius: 5px;
                        background-color: #4CAF50;
                        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                    }
                </style>
            </td>
            <td height="250" width="300" align="center" valign="middle" style="border: 10px solid #cccccc;">
                    <a href="index.html" class="button">Simple</a>
                <style>
                    .button {
                        display: inline-block;
                        padding: 64px 64px;
                        color: white;
                        text-decoration: none;
                        border-radius: 5px;
                        background-color: #4CAF50;
                        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                    }
                </style>
            </td>
            <td height="250" width="300" align="center" valign="middle" style="border: 10px solid #cccccc;">
                    <a href="index.html" class="button">No coding</a>
                <style>
                    .button {
                        display: inline-block;
                        padding: 64px 64px;
                        color: white;
                        text-decoration: none;
                        border-radius: 5px;
                        background-color: #4CAF50;
                        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                    }
                </style>
            </td>
            <td height="250" width="300" align="center" valign="middle" style="border: 10px solid #cccccc;">
                    <a href="index.html" class="button">Gifts</a>
                    <style>
                        .button {
                            display: inline-block;
                            padding: 64px 64px;
                            color: white;
                            text-decoration: none;
                            border-radius: 5px;
                            background-color: #4CAF50;
                            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                        }
                    </style>
            </td>
            </tr>
        </table>




        </div>

    </body>
</html>